parameters:
    level: 0
    paths:
        - packages
        - utils
    ignoreErrors:
        -
            message: '#Unsafe usage of new static\(\).#'
            path: packages/core/src/Base/Traits/HasModelExtending.php