@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .lt-button {
    @apply lt-inline-flex lt-items-center lt-justify-center lt-gap-2 lt-border lt-rounded-md lt-font-medium lt-transition;
    @apply hover:lt-shadow-sm;
    @apply focus:lt-outline-none focus:lt-ring focus:lt-ring-blue-100;
    @apply disabled:lt-cursor-not-allowed disabled:lt-opacity-50;
  }

  .lt-button-gray {
    @apply lt-bg-white lt-text-gray-600 lt-border-gray-200 hover:lt-bg-gray-50;
  }

  .lt-button-success {
    @apply lt-bg-green-600 lt-text-white lt-border-green-600 hover:lt-bg-green-700;
  }

  .lt-button-primary {
    @apply lt-bg-blue-600 lt-text-white lt-border-blue-600 hover:lt-bg-blue-700;
  }

  .lt-button-danger {
    @apply lt-bg-red-600 lt-text-white lt-border-red-600 hover:lt-bg-red-700;
  }
}

.lt-pagination span[aria-current='page'] span {
  @apply lt-text-blue-600;
}
