@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'flatpickr';
@import 'filepond/dist/filepond.css';
@import 'filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css';
@import 'quill/dist/quill.snow.css';

p > code {
    @apply font-mono text-sm bg-gray-100 text-purple-600;
}

[x-cloak] {
    display: none;
}

/* Add the lines below */

@layer utilities {
    .masonry {
        column-count: 4;
        column-gap: 1em;
    }

    .break-inside {
        break-inside: avoid;
    }
}

.sortable-ghost .sort-item-element {
    @apply bg-blue-50 text-blue-600 border-blue-300;
}

.ql-editor {
    @apply space-y-2;
}

@layer components {
    .menu-link {
        @apply relative flex items-center gap-2 p-2 rounded;
    }

    .menu-link--active {
        @apply bg-blue-50 text-blue-700 dark:bg-gray-800 dark:text-white;
    }

    .menu-link--inactive {
        @apply text-gray-500 hover:bg-blue-50 hover:text-blue-700 dark:text-gray-400 dark:hover:bg-gray-800 dark:hover:text-white;
    }
}
