name: MySQL Tests
on:
  pull_request:
defaults:
  run:
    working-directory: ./
jobs:
  phpunit:
    runs-on: ubuntu-latest
    container:
      image: kirschbaumdevelopment/laravel-test-runner:8.1

    services:
      mysql:
        image: mysql:8
        env:
          MYSQL_ROOT_PASSWORD: password
          MYSQL_DATABASE: test
        ports:
          - 33306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
    - uses: actions/checkout@v1
      with:
        fetch-depth: 1

    - name: Install composer dependencies
      run: |
        composer install --no-scripts

    - name: Run Testsuite
      run: DB_CONNECTION=mysql DB_HOST=mysql DB_DATABASE=test DB_USERNAME=root DB_PASSWORD=password vendor/bin/phpunit
